<div class="myfriends-wrapper">
	<div class="container">
		<div class="heading">
			<h2>プライバシーポリシー</h2>
		</div>

		

			<div class="bottom">
			<%#= paginate current_user.relationships, outer_window: 5 %>
			</div>
			</div>
		</div>
	</div>
</div>