<div class="mylike-wrapper">
<div class="container">
<div class="heading">
<h2>お気に入りにしたアイテムリスト</h2>
</div>

<%= link_to favorites_user_path(@user) do %>
<div class="mylike-items clearfix">
<h3>お気に入り数</h3>
<%= @user.favorites.count %>
<%# @user.items.each do |item| %>
<%#= link_to user_favorites_path %>
<<!-- a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a> -->
</div>

<!-- <a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div>

<div class="mylike-items clearfix">
<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div>

<div class="mylike-items clearfix">
<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div>

<div class="mylike-items clearfix">
<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div>

<div class="mylike-items clearfix">
<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="#" class="mylike-item">
<div class="mylike-item1"><img src="img/babycar.jpg"></div>
<p class="mylike-item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div> -->




<div class="container">
<div class="bottom">
<a href="#" class="btn-lg">続きを見る</a>
</div>
</div>
</div>
</div>