<footer>
<div class="container">
<div class="footer-menu">
<ul>
<li><a href="#">Share LIST...　とは</a></li>
<li><a href="#">よくある質問</a></li>
<li><a href="#">プライバシーポリシー</a></li>
<li><a href="#">利用規約</a></li>
</ul>
</div>
<p class="copy"><small>&copy; 2016 Share LIST...</small></p>
</div>
</footer>
